@{
    this.ViewData["Title"] = "All Equipments";
}

<main>
    <h1 class="display-2 main__heading">Equipment</h1>
    <div class="services__content container">
        <div class="services__model row">
            <div class="col"></div>
            <h4 class="col">Product:</h4>
            <h4 class="col">Price:</h4>
            <div class="col"></div>
        </div>
        <div class="entity row align-items-center item__image__container align-self-center">
            <div class="col">
                <img src="~/images/whey-protein.jpg" class="item__image">
            </div>
            <h4 class="col">Running machine</h4>
            <h4 class="col">300 lv.</h4>
            <div class="col">
                <button class="btn--basic btn--services">Buy</button>
            </div>
        </div>
        <div class="entity row align-items-center item__image__container align-self-center">
            <div class="col">
                <img src="~/images/gym.jpg" class="item__image">
            </div>
            <h4 class="col">Dumbell</h4>
            <h4 class="col">30 lv.</h4>
            <div class="col">
                <button class="btn--basic btn--services">Buy</button>
            </div>
        </div>
    </div>
</main>