@{
    this.ViewData["Title"] = "Equipment Details";
}

<main>
    <div class="text-center">
        <h3 class="details__heading"><b>Equipment Details</b></h3>
        <div class="view__chars d-flex flex-column align-items-center">
            <h6>Name:</h6>
            <p>Self trainer</p>
            <h6>Price:</h6>
            <p>19 lv.</p>
            <h6>Description:</h6>
            <div class="details__description">
                <p class="text-left">This is some of the description.dddddd dddddddd ddddddddd dddddddddd ddd dddddd ddddddd dddddd dddd</p>
            </div>
            <button type="button" class="btn btn-danger">Remove</button>
        </div>
    </div>
</main>