@model FitnessHub.Web.ViewModels.News.NewsInputModel

@{ 
    this.ViewData["Title"] = "Add News";     
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 chat__form form-section text-center">
                <div class="leave-comment">
                    <h2 class="text-white form-heading-2">Add News</h2>
                    <form method="post" asp-action="Add" asp-controller="News">
                        <div>
                            <input asp-for="@Model.Title" type="text" placeholder="Name" required>
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                        <div>
                            <textarea asp-for="@Model.Content" type="textarea" placeholder="Content"></textarea>
                            <span asp-validation-for="@Model.Content" class="text-danger"></span>
                        </div>
                        <button type="submit" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
