@model FitnessHub.Web.ViewModels.TrainingSchedular.TrainingProgramInputModel
@{ 
    this.ViewData["Title"] = "Change Program Name";
    var programId = Convert.ToInt32(ViewContext.HttpContext.Request.Query["programId"]);
    int pageNum = Convert.ToInt32(this.ViewContext.HttpContext.Request.Query["page"]);
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-section text-center">
                <div class="leave-comment">
                    <h2 class="text-white form-heading-2">Change Program Name</h2>
                    <form method="post" asp-action="ChangeProgramName" asp-route-programId="@programId" asp-route-page="@pageNum" asp-controller="TrainingSchedular">
                        <div>
                            <input asp-for="@Model.Name" type="text" placeholder="Name" required>
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <button type="submit" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
