@{ 
    this.ViewData["Title"] = "Thank you!"; 
}

<section class="contact-section spad">
    <div class="container">
        <div class="row text-white">
            <h1 class="text-center thank-you-block">Thank you for your purchase!</h1>
            <h1>You will receive an email about your order soon!</h1>
            <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Home" asp-action="GoToHome">Go to home</a>
        </div>
    </div>
</section>
