@{ 
    this.ViewData["Title"] = "Thank you!"; 
}

<main class="d-flex flex-column align-items-center">
    <h1 class="text-center thank-you-block">Thank you for your purchase!</h1>
    <h1>You will receive an email about your order soon!</h1>
    <a class="btn btn-primary w-25 add-item" role="button" asp-area="" asp-controller="Home" asp-action="GoToHome">Go to home</a>
</main>
