@using FitnessHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<main>
    <div class="main__title-section">
        <div class="main__title-section__heading d-flex align-items-center flex-column">
            <h1 class="display-2 main__heading">Fitness Hub</h1>
            <p class="font-italic mt-2">The best site for online fitness services and food suplements in Bulgaria</p>
        </div>
    </div>
    <div class="info__section--first row d-flex justify-content-center align-items-center">
        <div class="info__section--first__text col-6 d-flex flex-column align-items-center">
            <h4>Fitness services</h4>
            <p>Fitness Hub gives you a place to offer your services or to find something helpful for you.</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Services" asp-action="All">View</a>
        </div>
        <div class="info__section--first__image col-6">
            <img class="home__image" src="~/images/gym.jpg">
        </div>
    </div>
    <div class="info__section--second row d-flex justify-content-center align-items-center">
        <div class="info__section--second__image col-6">
            <img class="home__image" src="~/images/whey-protein.jpg">
        </div>
        <div class="info__section--second__text col-6 d-flex flex-column align-items-center">
            <h4>Food suplements</h4>
            <p>In our site you can find variety of food suplements which will help you with your progress in the gym.</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Suplements" asp-action="All">View</a>
        </div>
    </div>
    <div class="info__section--first row d-flex justify-content-center align-items-center">
        <div class="info__section--first__text col-6 d-flex flex-column align-items-center">
            <h4>Fitness equipment</h4>
            <p>Fitness Hub gives you an opportunity to buy на reliable fitness equipment on extremely low prices!</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Equipments" asp-action="All">View</a>
        </div>
        <div class="info__section--first__image col-6">
            <img class="home__image" src="~/images/equipment.jpg">
        </div>
    </div>
    <div class="info__section--second row d-flex justify-content-center align-items-center">
        <div class="info__section--second__image col-6">
            <img src="~/images/message2.png" class="img__message">
        </div>
        <div class="info__section--second__text col-6 d-flex flex-column align-items-center">
            <h4>Chat</h4>
            <p>If u seek an answer to a given question or you just want to chat with someone, you can always use our chat!</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Chat" asp-action="Index">Go to chat</a>
        </div>
    </div>
</main>
