@using FitnessHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Be <strong>strong</strong> traning hard</h1>
                            <a class="primary-btn" asp-area="" asp-controller="News" asp-action="All">See News</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Be <strong>strong</strong> traning hard</h1>
                            <a class="primary-btn" asp-area="" asp-controller="News" asp-action="All">See News</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Site</span>
                    <h2>WHAT WE CAN OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="img/classes/class-1.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>FITNESS</span>
                        <h5>Supplements</h5>
                        <a asp-area="" asp-controller="Suplements" asp-action="Index" asp-route-page="1"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="img/classes/class-2.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>FITNESS</span>
                        <h5>Equipments</h5>
                        <a asp-area="" asp-controller="Equipments" asp-action="Index" asp-route-page="1"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="img/classes/class-3.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>FITNESS</span>
                        <h5>Services</h5>
                        <a asp-area="" asp-controller="Services" asp-action="All"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="img/classes/class-4.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>CHAT</span>
                        <h4>Platform</h4>
                        <a asp-area="" asp-controller="Chat" asp-action="Index"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="img/classes/class-5.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>TRAINING</span>
                        <h4>Schedular</h4>
                        <a asp-area="" asp-controller="TrainingSchedular" asp-action="Index"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner-section set-bg" data-setbg="img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>register now to get started</h2>
                    <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn  btn-normal">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section End -->
@*<div class="main__title-section">
        <div class="main__title-section__heading d-flex align-items-center flex-column">
            <h1 class="display-2 main__heading"><b>Fitness Hub</b></h1>
            <p class="font-italic mt-2">The best site for online fitness services and food suplements in Bulgaria</p>
        </div>
    </div>
    <div class="info__section--first row d-flex justify-content-center align-items-center">
        <div class="info__section--first__text col-6 d-flex flex-column align-items-center">
            <h4>Fitness services</h4>
            <p>Fitness Hub gives you a place to offer your services or to find something helpful for you.</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Services" asp-action="All">View</a>
        </div>
        <div class="info__section--first__image col-6">
            <img class="home__image" src="~/images/gym.jpg">
        </div>
    </div>
    <div class="info__section--second row d-flex justify-content-center align-items-center">
        <div class="info__section--second__image col-6">
            <img class="home__image" src="~/images/whey-protein.jpg">
        </div>
        <div class="info__section--second__text col-6 d-flex flex-column align-items-center">
            <h4>Food suplements</h4>
            <p>In our site you can find variety of food suplements which will help you with your progress in the gym.</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Suplements" asp-action="All">View</a>
        </div>
    </div>
    <div class="info__section--first row d-flex justify-content-center align-items-center">
        <div class="info__section--first__text col-6 d-flex flex-column align-items-center">
            <h4>Fitness equipment</h4>
            <p>Fitness Hub gives you an opportunity to buy на reliable fitness equipment on extremely low prices!</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Equipments" asp-action="All">View</a>
        </div>
        <div class="info__section--first__image col-6">
            <img class="home__image" src="~/images/equipment.jpg">
        </div>
    </div>
    <div class="info__section--second row d-flex justify-content-center align-items-center">
        <div class="info__section--second__image col-6">
            <img src="~/images/message2.png" class="img__message">
        </div>
        <div class="info__section--second__text col-6 d-flex flex-column align-items-center">
            <h4>Chat</h4>
            <p>If u seek an answer to a given question or you just want to chat with someone, you can always use our chat!</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Chat" asp-action="Index">Go to chat</a>
        </div>
    </div>*@
