@using FitnessHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<main>
    <div class="main__title-section">
        <div class="main__title-section__heading d-flex align-items-center flex-column">
            <h1 class="display-2 main__heading">Fitness Hub</h1>
            <p class="font-italic mt-2">The best site for online fitness services and food suplements in Bulgaria</p>
        </div>
    </div>
    <div class="info__section--first row d-flex justify-content-center align-items-center">
        <div class="info__section--first__text col-6 d-flex flex-column align-items-center">
            <h4>Предлагане на фитнес услуги</h4>
            <p>Fitness Hub ви дава възможността да предлагате вашите фитнес услуги тук. Също така може да се възползвате от услугите на останалите потребители.</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Services" asp-action="All">View</a>
        </div>
        <div class="info__section--first__image col-6">
            <img class="home__image" src="~/images/gym.jpg">
        </div>
    </div>
    <div class="info__section--second row d-flex justify-content-center align-items-center">
        <div class="info__section--second__image col-6">
            <img class="home__image" src="~/images/whey-protein.jpg">
        </div>
        <div class="info__section--second__text col-6 d-flex flex-column align-items-center">
            <h4>Предлагане на хранителни добавки</h4>
            <p>В нашият сайт може да намерите разнообразие от хранителни добавки, които ще помогнат за вашия прогрес у залата.</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Equipments" asp-action="All">View</a>
        </div>
    </div>
    <div class="info__section--first row d-flex justify-content-center align-items-center">
        <div class="info__section--first__text col-6 d-flex flex-column align-items-center">
            <h4>Предлагане на фитнес оборудване</h4>
            <p>Fitness Hub ви дава възможност за закупуване на надеждно фитнес оборудване на изключително ниски цени.</p>
            <button class="btn--basic btn--home">View</button>
        </div>
        <div class="info__section--first__image col-6">
            <img class="home__image" src="~/images/equipment.jpg">
        </div>
    </div>
    <div class="info__section--second row d-flex justify-content-center align-items-center">
        <div class="info__section--second__image col-6">
            <img src="~/images/message2.png" class="img__message">
        </div>
        <div class="info__section--second__text col-6 d-flex flex-column align-items-center">
            <h4>Предлагане на чат система</h4>
            <p>Ако търсите отговор на даден въпрос, винаги може да използвате нашата чат система в реално време!</p>
            <button class="btn--basic">Go to chat</button>
        </div>
    </div>
</main>
