@using FitnessHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Don't have an account? <a asp-area="Identity" asp-page="/Account/Register">Register now!</a></p>
</div>
