.details__heading {
    margin-top: 40px;
    margin-bottom: 30px;
}

.details__description {
    width: 70%;
    word-wrap: break-word;
}

.details__form {
    min-width: 300px;
}

.view__chars p {
    margin-bottom: 25px;
}

.item__image__container__details {
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 30px;
}