.services__content {
    padding: 0;
}

.services__model {
    min-height: 30px;
    border-radius: 8px;
    margin-top: 40px;
}

.entity {
    min-width: 100%;
    min-height: 50px;
    border: 3px solid rgb(57, 58, 61);
    border-radius: 8px;
    margin-top: 20px;
}

.entity h4 {
    font-size: 16px;
    margin-bottom: 0;
}

.item__image__container {
    max-height: 250px;
    max-width: 200px;
}

.chat__header {
    margin-top: 50px;
}

.add-item {
    margin-top: 30px;
}