@{ 
    this.ViewData["Title"] = "Thank you!"; 
}

<section class="contact-success contact-section spad">
    <div class="container">
        <div class="row text-white text-center align-items-center justify-content-center">
            <h1 class="text-center thank-you-block">Thank you for your contacting us!</h1>
            <h1 class="reply-text">You will receive a reply as soon as possible.</h1>
            <a class="btn btn-orange w-25 add-item" role="button" asp-area="" asp-controller="Home" asp-action="GoToHome">Go to home</a>
        </div>
    </div>
</section>
