@{
    this.ViewData["Title"] = "All Services";
}
<main>
    <h1 class="display-2 main__heading">Services</h1>
    <div class="services__content container">
        <div class="services__model row">
            <h4 class="col">Name:</h4>
            <h4 class="col">Author:</h4>
            <h4 class="col">Published On:</h4>
            <div class="col"></div>
        </div>
        <div class="service__entities">
            <div class="entity row align-items-center">
                <h4 class="col">Training Program</h4>
                <h4 class="col">Georgi Jivkov</h4>
                <h4 class="col">12.10.2020</h4>
                <div class="col">
                    <button class="btn--basic btn--services">View</button>
                </div>
            </div>
            <div class="entity row align-items-center">
                <h4 class="col">Training Program</h4>
                <h4 class="col">Georgi Jivkov</h4>
                <h4 class="col">12.10.2020</h4>
                <div class="col">
                    <button class="btn--basic btn--services">View</button>
                </div>
            </div>
        </div>
    </div>
</main>