@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-section text-center">
                <h2 class="text-white form-heading-2">Forgot your password?</h2>
                <h4 class="text-white form-heading-4">Enter your email.</h4>
                <div class="leave-comment">
                    <form id="account" method="post">
                        <div>
                            <input asp-for="Input.Email" placeholder="Username" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
