@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-section text-center">
                <h2 class="text-white form-heading-2">Register</h2>
                <h4 class="text-white form-heading-4">Create a new account.</h4>
                <div class="leave-comment">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div>
                            <input asp-for="Input.Email" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="Input.UserName" placeholder="Username" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="Input.Password" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="Input.ConfirmPassword" placeholder="Password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">Register</button>
                        </div>
                        <div>
                            <p>
                                Already have an account?
                                <a class="form-link" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
