@using FitnessHub.Web.ViewModels.Chat
@model AddMessageInputModel

@{
    this.ViewData["Title"] = "Chat";
}

<main>
    <h1 class="display-2 main__heading"><b>Chat</b></h1>
    <h4 class="col chat__header text-center">Newest messages:</h4>
    <div class="services__content container d-flex flex-column" id="view-all">
        @await Html.PartialAsync("_ViewAll")
    </div>
    <div class="form__inputs chat__form">
        <form class="d-flex flex-column chat-form" method="post" asp-action="Index" asp-controller="Chat">
            <div class="chat__form-group form-group">
                <label asp-for="@Model.Content">Message:</label>
                <textarea class="form-control" asp-for="@Model.Content"></textarea>
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</main>