@{
    this.ViewData["Title"] = "Chat";
}

<main>
    <h1 class="display-2 main__heading">Chat</h1>
    <h4 class="col chat__header text-center">Newest messages:</h4>
    <div class="services__content container d-flex flex-column">
        <div class="entity text-left row align-items-center">
            <h4 class="col-11">Golbarg200: Здравейте!</h4>
            <h4 class="col">Date</h4>
        </div>
        <div class="entity text-left row align-items-center">
            <h4 class="col-11">Goshko123: Охо!</h4>
            <h4 class="col">Date</h4>
        </div>
    </div>
</main>